
<!DOCTYPE html>

<html>
<head>


<title>Manifolds-Menu</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="lcx/InnerAccordion.js"></script>
<link href="../../lcx/lcnew.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="../../lcx/InnerAccordion.css" rel="stylesheet" type="text/css" media="screen"></link>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
<!-- Bootstrap Core CSS -->
<link href="../../lcx/bootstrap.css" rel="stylesheet"></link>

<!-- Custom CSS -->
<link href="../../lcx/clean-blog-lc.min.css" rel="stylesheet"></link>
<link href="../../lcx/clean-blog.css" rel="stylesheet"></link>

<!-- Custom Fonts -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'></link>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'></link>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="true" src="https://www.googletagmanager.com/gtag/js?id=G-0GKEK75V1G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0GKEK75V1G');
</script>
<!-- Bootstrap Core JavaScript -->
<script src="../../js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../../js/clean-blog.min.js"></script>
<script src="../../../js/cms.js" referrerpolicy="origin"></script>
</head>

<body>
	<div class="blackbody_action" >
		<header class="intro-header" >
			<div class="container-fluid" style="padding-left: 0px">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 ">
						<div class="site-heading" >
							<h1>On Manifolds</h1>
							<hr class="small"></hr>
							<span class="subheading" th:text="${hom.subTitle}"></span>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="container-fluid" style="padding-left: 0px">
			<div class="row" style="background-color: white;">
				<div id="menubar" class="col-lg-3  col-md-3 col-sm-4 col-xs-12">
				
					<div id="menu"
						style="background: 647d03">
						
					<button id="mobilemode" class="btn btn-easy-read" >EASY READ </button>
						<div id="menu2" style="Opacity: 0.9">
							<div th:each="link : ${hom.sideBarMenu}">
								<ul>
									<lh> <a th:text="${link.lbl}" style="cursor: pointer;" th:href="${link.id}"></a> </lh>
									<div th:each="headerLink : ${link.subMenuItems}">
										<lh>
										<h2 class="labelheadings">
										<div th:text="${headerLink.lbl}"></div>
										</h2>
										<hr style="margin-bottom: 0px;margin-top: 0px"></hr>
										</lh>
										<div th:each="sublink : ${headerLink.subMenuItems}">
											<li th:id="${sublink.id}"><a th:text="''+${sublink.lbl}" style="cursor: pointer;" 
											th:href="${sublink.id}+'?event=EV_'+${sublink.levelCd}"
												onclick=""></a></li>
											<div class="subMenu" th:each="sublink2 : ${sublink.subMenuItems}">
												<li th:id="${sublink2.id}"><a th:text="''+${sublink2.lbl}" style="cursor: pointer;"
													th:href="${sublink2.id}+'?event=EV_'+${sublink2.levelCd}" onclick=""></a></li>
												<!-- <div class="subMenu2" th:each="sublink3 : ${sublink2.subMenuItems}">
													<li th:id="${sublink3.id}"><a th:text="''+${sublink3.lbl}" style="cursor: pointer;"
														th:href="'?EVENT='+${sublink3.levelCd}+'~'+${sublink3.id}" onclick=""></a></li>
												</div> -->
											</div>
										</div>
									</div>
								</ul>
							</div>
							
						</div>

						<ul>
							<lh> <a>Perma Links</a></lh>
						
						</ul>

						<ul>
							<lh> </lh>
						</ul>
						<ul>
							<lh> </lh>
						</ul>
						<ul>
							<lh> </lh>
						</ul>
					
						<ul>
							<lh> </lh>
						</ul>
						<ul>
							<lh> </lh>
						</ul>
						<ul>
							<lh> </lh>
						</ul>
						

					</div>
					<div style="padding-left: 10px;opacity:95%; padding-top: 100px">
					<div th:each="link : ${hom.pageMeta.photoStrip}">
						<img th:src="${link}" width="252" height="300" style="text-indent: -24px;"  ></img>
					</div>
					</div>
					
					
				
				</div>
				<div id="maintextwrapper" class="col-lg-7  col-md-8 col-sm-8 col-xs-12">
					<div id="maintext" class="container1" style="border-right-color: yellow;padding-left:10px;">
					<button id="mobilemode1" class="btn btn-easy-read" >Show Menu</button>
						<div th:utext="${hom.welcomeContent}"></div>
			
					</div>


					<!-- Main Content -->
					<div class="container1">

						<h2></h2>
						<hr></hr>
						
						<div class="row1" th:each="link : ${hom.pageMeta.linkedItems}">
							<div class="post-preview">
							<h3  >
								<a style="color:#0085a1;text-decoration: underline;" th:href="${link.href}" class="post-title" th:text="${link.description}">
								</a>
							</h3>
							<h4 class="post-subtitle" th:text="${link.metaInfo}">
							</h4>	
								<p class="post-meta">
								<h5>
									Posted by <a th:href="${link.href}">Admin1</a>
								</h5>
								<div th:text="${link.date}"></div>
								</p>
								<hr></hr>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal -->
				

				<div class="col-lg-2  col-md-1 col-sm-1 col-xs-12">
					<!-- <div class="newsColumn" style="background-color:#b1d41a78;"> -->
					<p>
					<H3>News</H3>
					</p>
					<div class="row" th:each="link : ${hom.pageMeta.newsItems}">
						<div class="footnote">
							<a th:href="${link.link}" th:target="_blank">
								<p th:text="${link.text}"></p>
								
							</a>
							
							<hr></hr>
						</div>
					</div>
					<a style="cursor: pointer; font-size: 12px; text-decoration: underline;" onclick="return form_action_load('','pages','news','view',0);">More
						News</a>
					<!-- </div> -->
				</div>
			</div>

			<div class="row">
				<div id="footer">
					<!-- Footer start -->
					<p class="footnote">
						<br></br> &copy; Manifold Studies, Chennai <br></br> Powered by Bootstrap, supports most devices. Feel free to Zoomin/out and see
						page respond with appropriate styles.<br></br> Image Credits:Wikimedia Foundation.
					</p>
					<!-- Footer end -->
				</div>
			</div>
		</div>


		<script type="text/javascript">
			$(document).ready(function() {
				var pageId = $('#pageId').text();
				$('#' + pageId).css({
					'background-color' : '#f6aa00',
					'color' : '#9ffd06'

				});
			});
			
		</script>
		
		
		<style type="text/css" media="screen">
#quotes {
	margin: 0;
	position: relative;
}

.textItem {
	position: absolute;
	display: none;
	width: 100%;
}

.textItem p {
	font-weight: bold;
}

.fr {
	font-weight: normal !important;
	margin-right: 10px;
}
</style>


	</div>

</body>

</html>