
<!DOCTYPE html>

<html>
<head>


<title>The Leafy Campus</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="lcx/InnerAccordion.js"></script>
<link href="../../lcx/lcnew.css" rel="stylesheet" type="text/css" media="all"></link>
<link href="../../lcx/InnerAccordion.css" rel="stylesheet" type="text/css" media="screen"></link>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
<!-- Bootstrap Core CSS -->
<link href="../../lcx/bootstrap.css" rel="stylesheet"></link>

<!-- Custom CSS -->
<link href="../../lcx/clean-blog-lc.min.css" rel="stylesheet"></link>

<!-- Custom Fonts -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'></link>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'></link>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="true" src="https://www.googletagmanager.com/gtag/js?id=G-0GKEK75V1G"></script>
<script src="../js/cms.js" referrerpolicy="origin"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0GKEK75V1G');
</script>
<!-- Bootstrap Core JavaScript -->
<script src="../../js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../../js/clean-blog.min.js"></script>
</head>

<body>
	<div class="blackbody">
		<header class="intro-header">
			<div class="container-fluid" style="padding-left: 0px">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
						<div class="site-heading">
							<h2>leafy campus</h2>
							<hr class="small"></hr>
							<h3 th:text="${hom.subTitle}"></h3>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="container-fluid" style="padding-left: 0px">
			<div class="row" style="background-color: white;">
				<div class="col-lg-3  col-md-3 col-sm-4 col-xs-12">
					<div id="menu"
						style="background: url(https :// upload.wikimedia.org/ wikipedia/ commons/ 1/ 19/ 07182012Sesion_campus_redes_sociales047 .jpg ')">
						<div id="menu2" style="Opacity: 0.9">
							

							<div th:each="link : ${hom.sideBarMenu}">
								<ul>
									<lh> <a th:text="${link.lbl}" style="cursor: pointer;" th:href="@{../K01/nullId}"></a> </lh>
									<div th:each="headerLink : ${link.subMenuItems}">
										<lh>
										<h2 style="color: antiquewhite; font-size: 24px">
										<div th:text="${headerLink.lbl}"></div>
										</h2>
										<hr style="margin-bottom: 0px;margin-top: 0px"></hr>
										</lh>
										<div th:each="sublink : ${headerLink.subMenuItems}">
											<li th:id="${sublink.id}"><a th:text="''+${sublink.lbl}" style="cursor: pointer;" th:href="@{../K01/nullId}"
												onclick=""></a></li>
											<div class="subMenu" th:each="sublink2 : ${sublink.subMenuItems}">
												<li th:id="${sublink2.id}"><a th:text="''+${sublink2.lbl}" style="cursor: pointer;"
													th:href="@{../K01/nullId}" onclick=""></a></li>
												
											</div>
										</div>
									</div>
								</ul>
							</div>
							
						</div>

						<ul>
							<lh> <a>Perma Links</a></lh>
							<li><a style="cursor: pointer;" onclick="return form_action_load('','pages','curriculum','view',0);">CBSE</a></li>
							<li><a style="cursor: pointer;" href="http://www.cisce.org/" target="_blank">ICSE | ISC Syllabus</a></li>
							<li><a style="cursor: pointer;" href="http://www.aacu.org/" target="_blank">AACU</a></li>
							<li><a style="cursor: pointer;" href="/admin/metrics">Login</a></li>
						</ul>

						<ul>
							<lh> </lh>
						</ul>
						<ul>
							<lh> </lh>
						</ul>
						<ul>
							<lh> </lh>
						</ul>
					
						<ul>
							<lh> </lh>
						</ul>
						<ul>
							<lh> </lh>
						</ul>
						<ul>
							<lh> </lh>
						</ul>
						

					</div>
					<div style="padding-left: 10px;opacity:95%">
					<div th:each="link : ${hom.pageMeta.photoStrip}">
						<img th:src="${link}" width="252" height="169" style="text-indent: -24px;"  ></img>
					</div>
					</div>
					
					
				
				</div>
				<div class="col-lg-7  col-md-8 col-sm-8 col-xs-12" >
					<div class="form-group">
						<form th:action="@{../submit}" th:object="${content}" method="post">
							<table class="table table-dark">
								<tr>
									<td>
										<h4>Email</h4>
									</td>
									<td>
									<input id="fileName" th:name="input" th:field="*{id}" maxlength="50" ></input>
									</td>
								</tr>
								<tr>
									<td>
										<h4>Message</h4>
									</td>
									<td><textarea id="mytextarea3"
											style="font-family: Consolas; line-height: initial; -webkit-font-smoothing: subpixel-anitaliased"
											cols="40" rows="20" th:field="*{meta}" maxlength="2000"></textarea>
									</td>
								</tr>
								<tr>
									<td></td>
									<td>
									 <button type="submit" class="btn btn-primary">Submit</button>
									</td>
								</tr>

							</table>
						</form>

					</div>


					<!-- Main Content -->
					<div class="container1">

						<h2></h2>
						<hr></hr>
						
					
					</div>
					
				</div>
				<!-- Modal -->
				

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name"></input>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

<script>

$('#exampleModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  var recipient = button.data('whatever') // Extract info from data-* attributes
	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	  var modal = $(this)
	  modal.find('.modal-title').text('New message to ' + recipient)
	  modal.find('.modal-body input').val(recipient)
	})
</script>

				<div class="col-lg-2  col-md-1 col-sm-1 col-xs-12">
					<!-- <div class="newsColumn" style="background-color:#b1d41a78;"> -->
					<p>
					<H3>News</H3>
					</p>
					<div class="row" th:each="link : ${hom.pageMeta.newsItems}">
						<div class="footnote">
							<a th:href="${link.link}" th:target="_blank">
								<p th:text="${link.text}"></p>
								
							</a>
							
							<hr></hr>
						</div>
					</div>
					<a style="cursor: pointer; font-size: 12px; text-decoration: underline;" onclick="return form_action_load('','pages','news','view',0);">More
						News</a>
					<!-- </div> -->
				</div>
			</div>

			<div class="row">
				<div id="footer">
					<!-- Footer start -->
					<p class="footnote">
						<br></br> &copy; Leafy Campus Organization, Chennai <br></br> Powered by Bootstrap, supports most devices. Feel free to Zoomin/out and see
						page respond with appropriate styles.<br></br> Image Credits:Wikimedia Foundation.
					</p>
					<!-- Footer end -->
				</div>
			</div>
		</div>


		<script type="text/javascript">
			$(document).ready(function() {
				var pageId = $('#pageId').text();
				$('#' + pageId).css({
					'background-color' : '#f6aa00',
					'color' : '#9ffd06'

				});
			});
			
		</script>
		
		
		<style type="text/css" media="screen">
#quotes {
	margin: 0;
	position: relative;
}

.textItem {
	position: absolute;
	display: none;
	width: 100%;
}

.textItem p {
	font-weight: bold;
}

.fr {
	font-weight: normal !important;
	margin-right: 10px;
}
</style>


	</div>

</body>

</html>